<html>
<body>
  <div>
    <mat-grid-list cols="3">
      <mat-grid-tile>

        <mat-card class="main-card">
          <mat-card-title>To do:</mat-card-title>
          <mat-card-content cdkDropList
                    #todoList="cdkDropList"
                    [cdkDropListData]="todo"
                    [cdkDropListConnectedTo]="[inProgressList, doneList]"
                    (cdkDropListDropped)="drop($event)">
            <mat-card *ngFor="let issue of todo" cdkDrag>
              <mat-card-content>
                <span>{{ issue }}</span>
                <button class="clear-button" mat-button (click)="deleteIssue(issue, todo)">
                  <mat-icon>clear</mat-icon>
                </button>
              </mat-card-content>
            </mat-card>
          </mat-card-content>
        </mat-card>

      </mat-grid-tile>
      <mat-grid-tile>

        <mat-card class="main-card">
          <mat-card-title>In progress:</mat-card-title>
          <mat-card-content cdkDropList
                    #inProgressList="cdkDropList"
                    [cdkDropListData]="inProgress"
                    [cdkDropListConnectedTo]="[todoList, doneList]"
                    (cdkDropListDropped)="drop($event)">
            <mat-card *ngFor="let issue of inProgress" cdkDrag>
              <mat-card-content>
                {{ issue }}
                <button class="clear-button" mat-button (click)="deleteIssue(issue, inProgress)">
                  <mat-icon>clear</mat-icon>
                </button>
              </mat-card-content>
            </mat-card>
          </mat-card-content>
        </mat-card>

      </mat-grid-tile>
      <mat-grid-tile>

        <mat-card class="main-card">
          <mat-card-title>Done:</mat-card-title>
          <mat-card-content cdkDropList
                    #doneList="cdkDropList"
                    [cdkDropListData]="done"
                    [cdkDropListConnectedTo]="[todoList, inProgressList]"
                    (cdkDropListDropped)="drop($event)">
            <mat-card *ngFor="let issue of done" cdkDrag>
              <mat-card-content>
                {{ issue }}
                <button class="clear-button" mat-button (click)="deleteIssue(issue, done)">
                  <mat-icon>clear</mat-icon>
                </button>
              </mat-card-content>
            </mat-card>
          </mat-card-content>
        </mat-card>

      </mat-grid-tile>

      <mat-grid-tile colspan="2">
        <form>
          <mat-form-field name="issueForm" appearance="outline">
            <mat-label>Type an issue:</mat-label>
            <input matInput name="issue" [(ngModel)]="issue">
          </mat-form-field>
          <br/>
          <button mat-flat-button color="primary" (click)="addToTodo()">Add Issue</button>
        </form>
      </mat-grid-tile>


    </mat-grid-list>
    <app-user-profile></app-user-profile>
  </div>
</body>
</html>